@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.container {
  width: 380px;
  height: 500px;
  background: #ecf0f3;
  border-radius: 12px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  overflow: hidden;
}

.button-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 0px;
  font-size: 20px;
}

.button-top a {
  color: black;
  border: 5px solid transparent;
  border-radius: 50%;
  background: #ecf0f3;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.button-top .icon-exit a {
  padding: 6px 12px 6px 12px;
}

.button-top .icon-in4 a {
  padding: 5px 18px 5px 18px;
}

.button-top a:hover {
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
  transform: scale(1.1);
}

.avatar {
  margin: auto;
  margin-top: 10px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border: 15px solid transparent;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  border-radius: 50%;
  transition: all 0.7s linear;
  transform: scale(1);
}

.avatar img {
  width: 100%;
  height: 100%;
}

.avatar:hover {
  width: 100%;
  height: 75%;
  border: none;
  border-radius: unset;
  transform: scale(1);
}

.content {
  text-align: center;
}

.content .name {
  font-size: 25px;
}

.icon-mxh {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 17px;
}

.icon-mxh .icon a {
  font-size: 17px;
  padding: 10px 15px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  border-radius: 50%;
}

.icon-mxh .icon a:hover {
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.icon-mxh .icon-fb a {
  padding: 10px 17px;
}

.icon-mxh .icon-tw a {
  padding: 10px 14px;
}

.icon-mxh .icon-yb a {
  padding: 10px 13px;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  background-color: transparent;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  border: none;
}

.button button:hover {
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.icon-share {
  margin-top: 30px;
  display: flex;
  gap: 22px;
  justify-content: center;
}

.icon-share a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.icon-share .tym a:hover {
  color: red;
}

.icon-share .comment a:hover {
  color: darkblue;
}

.icon-share .share a:hover {
  color: blue;
}
